{% extends 'usuarios/base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%load humanize %}
{%block title %} <title>Generar venta</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<div class="row g-4">
    <div class="col-12 col-md-3">
        <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
            <div class="app-card-header p-3 border-bottom-0">
                <div class="row align-items-center gx-3">
                    <div class="col-auto">
                        <div class="app-icon-holder">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                        </div>      
                    </div><!--//col-->
                    <div class="col-auto">
                        <h4 class="app-card-title">Informacion cliente</h4>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body px-4 w-100">
                    <div class="item border-bottom py-3">
                        <div class="row">
                            <div class="col-6 col-lg-6 mb-3">
                                <label for="exampleInputEmail1" class="item-label"><strong>Registrado</strong></label>
                                <select class="form-select" aria-label=".form-select-sm example">
                                  <option value="Si">Si</option>
                                  <option value="No" selected>No</option>
                                </select>
                            </div>
                            
                            <div class="col-6 col-lg-6 mb-3">
                                <label for="exampleInputEmail1" class="item-label"><strong>Domicilio</strong></label>
                                <select class="form-select" aria-label=".form-select-sm example">
                                  <option value="Si">Si</option>
                                  <option value="No" selected>No</option>
                                </select>
                            </div>
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="item-label"><strong>Cliente</strong></label>
                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="CC o NIT">
                            </div>
                        </div><!--//row-->
                    </div>
                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <label class="item-label"><strong>Nombre completo</strong></label>
                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <div class="item-label"><strong>Dirección</strong></div>
                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//item-->
            </div><!--//app-card-body-->
        </div>
    </div>
    <div class="col-12 col-md-9">
                <div class="app-card app-card-account shadow-sm d-flex flex-column">
                    <div class="app-card-body px-4 w-100">
                            <div class="item py-2">
                                <div class="row justify-content-between align-items-center">
                                    <div class="mb-2">
                                        <table class="table app-table-hover mb-0 text-center">
                                            <thead>
                                                <tr>
                                                    <th class="cell">#</th>
                                                    <th class="cell">Codigo</th>
                                                    <th class="cell">Nombre producto</th>
                                                    <th class="cell">Valor Uni</th>
                                                    <th class="cell">Cant</th>
                                                    <th class="cell">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr>
                                                    <td>1</td>
                                                    <td class="cell"><input type="text" value="100" name="" id="codigo"></td>
                                                    <td class="cell"><div id="nombre">Cemento</div></td>
                                                    <td class="cell  text-center" onchange="sumar();">
                                                        <input id="numero1" value="25000" onchange="sumar();" type="number" disabled>
                                                    </td>
                                                    <td class="cell" onchange="sumar();">
                                                        <input  id="numero2" onchange="sumar();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <input type="text" id="resultado" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td class="cell"><input type="text" name="" id="codigo"></td>
                                                    <td class="cell"><div id="nombre">Cemento</div></td>
                                                    <td class="cell  text-center" onchange="sumar();">
                                                        <input id="numero1" value="25000" onchange="sumar();" type="number" disabled>
                                                    </td>
                                                    <td class="cell" onchange="sumar();">
                                                        <input  id="numero2" onchange="sumar();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <input type="text" id="resultado" disabled>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--//row-->
                            </div> 
                    </div>
                    <div class="app-card-footer p-4 mt-auto ">
                        <div class="row">
                            <div class="col-6 col-lg-6 text-center">
                                <div class="row">
                                    <div class="col-4 col-lg-4 ">
                                        <button type="button" class="btn app-btn-primary" style="width:100%">Limpiar</button>
                                    </div>
                                    <div class="col-4 col-lg-4 ">
                                        <button type="button" class="btn app-btn-primary" style="width:100%">Cotización</button>
                                    </div>
                                    <div class="col-4 col-lg-4 ">
                                        <button type="button" class="btn app-btn-primary" style="width:100%">Pagar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-6">
                                <div class="text-center">
                                    <div class="row text-center align-items-center">
                                        <div class="col-6 col-lg-6 ">
                                            <div class="item-label"><strong  style="font-size: 1.5rem;">Total</strong>
                                        </div>
                                        </div>
                                        <div class="col-6 col-lg-6">
                                            <div class="item-data" style="font-size: 1.5rem;">
                                                <input class="form-control" disabled="disabled" id="resultado1" type="number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div id="show"></div>
{% endblock %}
{% block scripts %}
<script>
    // si la respuesta que se espera es sumar
    function sumar(){
        var numero1 = document.getElementById('numero1').value;
        var numero2 = document.getElementById('numero2').value;

        if(numero1!=='' && numero2!==''){
            var suma = parseInt(numero1)*parseInt(numero2);
            document.getElementById('resultado').value = suma;
            document.getElementById('resultado1').value = suma;
        }
    }
</script>
<script src="{% static 'assets/consulta.js' %}"></script>
{% endblock %}