{% extends 'usuarios/base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%load humanize %}
{%block title %} <title>Generar venta</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}

<div class="row g-4">
    <div class="col-12 col-md-12">
                <div class="app-card app-card-account shadow-sm d-flex flex-column">
                    <div class="app-card-header p-2 border-bottom-0">
                        <div class="row align-items-center gx-3">
                            <div class="col-auto">
                                <div class="app-icon-holder">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    </svg>
                                </div>      
                            </div><!--//col-->
                            <div class="col-auto">
                                <h4 class="app-card-title">Seleccionar productos</h4>
                            </div><!--//col-->
                        </div><!--//row-->
                    </div>
                    <div class="app-card-body px-3 w-100">
                            <div class="item py-1">
                                <div class="row justify-content-between align-items-center">
                                    <div class="mb-2">
                                        <table class="table app-table-hover mb-0 text-center">
                                            <thead>
                                                <tr>
                                                    <th class="cell">#</th>
                                                    <th class="cell">Codigo</th>
                                                    <th class="cell">Nombre producto</th>
                                                    <th class="cell">Valor Uni</th>
                                                    <th class="cell">Cant</th>
                                                    <th class="cell">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <!-- LINEA 1 -->
                                                <tr>
                                                    <td>1</td>
                                                    <td class="cell"><input type="text" onchange="listadoproductos()" name="" id="codigo"></td>
                                                    <td class="cell">
                                                        <div id="nombre">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero2" onchange="sumar1();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque1">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 2 -->
                                                <tr>
                                                    <td>2</td>
                                                    <td class="cell"><input type="text" onchange="productodos();" name="" id="codigo2"></td>
                                                    <td class="cell">
                                                        <div id="nombre2">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni2">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input id="numero4" onchange="sumar2();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque2">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 3 -->
                                                <tr>
                                                    <td>3</td>
                                                    <td class="cell"><input type="text" onchange="productotres();" name="" id="codigo3"></td>
                                                    <td class="cell">
                                                        <div id="nombre3">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni3">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero6" onchange="sumar3();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque3">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 4 -->
                                                <tr>
                                                    <td>4</td>
                                                    <td class="cell"><input type="text" onchange="productocuatro();" name="" id="codigo4"></td>
                                                    <td class="cell">
                                                        <div id="nombre4">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni4">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero8" onchange="sumar4();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque4">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 5 -->
                                                <tr>
                                                    <td>5</td>
                                                    <td class="cell"><input type="text" onchange="productocinco();" name="" id="codigo5"></td>
                                                    <td class="cell">
                                                        <div id="nombre5">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni5">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero10" onchange="sumar5();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                       <div id="bloque5">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 6 -->
                                                <tr>
                                                    <td>6</td>
                                                    <td class="cell"><input type="text" onchange="productoseis();" name="" id="codigo6"></td>
                                                    <td class="cell">
                                                        <div id="nombre6">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni6">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero12" onchange="sumar6();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque6">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 7 -->
                                                <tr>
                                                    <td>7</td>
                                                    <td class="cell"><input type="text" onchange="productosiete();" name="" id="codigo7"></td>
                                                    <td class="cell">
                                                        <div id="nombre7">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni7">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero14" onchange="sumar7();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque7">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 8 -->
                                                <tr>
                                                    <td>8</td>
                                                    <td class="cell"><input type="text" onchange="productoocho();" name="" id="codigo8"></td>
                                                    <td class="cell">
                                                        <div id="nombre8">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni8">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero16" onchange="sumar8();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque8">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 9 -->
                                                <tr>
                                                    <td>9</td>
                                                    <td class="cell"><input type="text" onchange="productonueve();" name="" id="codigo9"></td>
                                                    <td class="cell">
                                                        <div id="nombre9">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni9">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero18" onchange="sumar9();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque9">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- LINEA 10 -->
                                                <tr>
                                                    <td>10</td>
                                                    <td class="cell"><input type="text" onchange="productodiez();" name="" id="codigo10"></td>
                                                    <td class="cell">
                                                        <div id="nombre10">
                                                        
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <div id="valoruni10">
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="cell">
                                                        <input  id="numero20" onchange="sumar10();" type="number">
                                                    </td>
                                                    <td class="cell" type="text">
                                                        <div id="bloque10">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--//row-->
                            </div> 
                    </div>
                    <div class="app-card-footer p-4 mt-auto ">
                        <div class="row">
                            <div class="col-6 col-lg-6 text-center">
                                <div class="row">
                                    <div class="col-6 col-lg-6 ">
                                        <button onclick="javascript:location.reload()" type="button" class="btn app-btn-primary" style="width:100%">Limpiar</button>
                                    </div>
                                    <div class="col-6 col-lg-6 ">
                                        <button data-bs-toggle="modal" data-bs-target="#pagar" type="button" class="btn app-btn-primary" style="width:100%">Continuar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-6">
                                <div class="text-center">
                                    <div class="row text-center align-items-center">
                                        <div class="col-6 col-lg-6 ">
                                            <div class="item-label"><strong  style="font-size: 1rem;">Total</strong>
                                        </div>
                                        </div>
                                        <div class="col-6 col-lg-6">
                                            <div class="item-data" id="resultadosuma" style="font-size: 1rem;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="modal fade" id="pagar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modulo de pago</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="" enctype="multipart/form-data" oninput="resultado.value=parseInt(cambio.value)-parseInt(pagar.value)">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
                        <div class="app-card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <div class="app-icon-holder">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                        </svg>
                                    </div>      
                                </div><!--//col-->
                                <div class="col-auto">
                                    <h4 class="app-card-title">Informacion cliente</h4>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body px-3 w-100">
                            <div class="row">
                                <div class="col-6 col-lg-6">
                                    <div class="item py-3">
                                        <label for="exampleInputEmail1" class="item-label"><strong>Domicilio</strong></label>
                                        <select class="form-select" aria-label=".form-select-sm example">
                                            <option value="Si">Si</option>
                                            <option value="No" selected>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <div class="item py-3">
                                        <label for="exampleInputEmail1" class="item-label"><strong>Cliente registrado</strong></label>
                                        <select class="form-select" aria-label=".form-select-sm example">
                                            <option value="Si">Si</option>
                                            <option value="No" selected>No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="item-label"><strong>Cliente</strong></label>
                                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="CC o NIT">
                                        </div>
                                    </div><!--//row-->
                                </div>
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-3">
                                            <label class="item-label"><strong>Nombre completo</strong></label>
                                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
                                        </div>
                                    </div><!--//row-->
                                </div><!--//item-->
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-3">
                                            <div class="item-label"><strong>Dirección</strong></div>
                                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Dirección de entrega">
                                        </div><!--//col-->
                                    </div><!--//row-->
                                </div>
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-3">
                                            <div class="item-label"><strong>Telefono</strong></div>
                                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Numero de contacto">
                                        </div><!--//col-->
                                    </div><!--//row-->
                                </div><!--//item-->
                        </div><!--//app-card-body-->
                    </div>                
                </div>
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
                        <div class="app-card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <div class="app-icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                                      <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                                      <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
                                    </svg>
                                    </div>      
                                </div><!--//col-->
                                <div class="col-auto">
                                    <h4 class="app-card-title">Informacion de la venta</h4>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body px-3 w-100">
                            <div class="row">
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="text-center">
                                            <label for="exampleInputEmail1" class="item-label"><strong>Total a pagar</strong></label>
                                            <input style="font-size:1.5rem" type="number" id="pagar" value="70000" class="form-control" disabled>
                                        </div>
                                    </div><!--//row-->
                                </div>
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-1 text-center">
                                            <label for="exampleInputEmail1" class="item-label"><strong>Efectivo</strong></label>
                                            <input type="number"name="efectivo" id="cambio" value="0" class="form-control">
                                        </div>
                                    </div><!--//row-->
                                </div>
                                <div class="item py-1">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="mb-1 text-center">
                                            <label for="exampleInputEmail1" class="item-label"><strong>Cambio</strong></label><br>
                                             <output style="font-size:1.5rem" name="resultado" for="pagar valor2">$</output>
                                        </div>
                                    </div><!--//row-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-lg-6 ">
                                        <button type="button" class="btn app-btn-primary" style="width:100%">Cotización</button>
                                    </div>
                                    <div class="col-6 col-lg-6 ">
                                        <button data-bs-toggle="modal" data-bs-target="#pagar" type="button" class="btn app-btn-primary" style="width:100%">Pagar</button>
                                    </div>
                            </div>

                        </div><!--//app-card-body-->
                    </div>   
                </div>
            </div>
            </form>  
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/sumas.js' %}"></script>
<script src="{% static 'assets/consulta.js' %}"></script>
{% endblock %}